body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    font-size: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 45px; /* 原15px增大3倍 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 66px; /* 原22px增大3倍 */
    padding: 30px 45px; /* 原10px 15px增大3倍 */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    color: #fff;
    background-color: #555;
    border-radius: 5px;
}

h1 {
    color: purple; /* 标题改为紫色 */
    font-size: 96px; /* 原48px增大2倍 */
}

p {
    font-size: 20px;
    line-height: 1.6;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border: 2px solid #333;
    margin: 10px auto;
}
